<center><h1>HYPOTHESIS TESTING</h1></center>

## LOAD LIBRARIES

In [9]:
import os
import sys
import pandas as pd
import numpy as np
from scipy import stats
from Calcs.calcs import *
from Charts.charts import Charts as ch
from NotebookFunctions.hypothesis_testing import *

## MONTE CARLO SIMULATIONS

In [ ]:
sim_df = run_simulations()

In [5]:
sim_df

     Test  RMSE_PC_OVERALL  VE_PC_OVERALL  RMSE_PC_QM   VE_PC_QM
0       1       -49.436384      -0.752024  -56.210577   8.985310
1       2       -64.478197     -12.104157  -73.417773  -7.655142
2       3       -53.314687      13.784292  -61.291510  -5.915021
3       4       -89.322410     -23.732952  -99.370712   0.833823
4       5       -50.485251      22.532837  -62.312877   3.211796
..    ...              ...            ...         ...        ...
995   996       -60.777662     -12.477662  -64.002909   4.282856
996   997       -43.860576     -17.107517  -51.853042  -5.909404
997   998       -46.754462      -0.963508  -56.655219 -13.727651
998   999       -45.328976     -20.877752  -49.485436  -1.783932
999  1000       -54.914443       4.585206  -64.872968  -6.405787

[1000 rows x 5 columns]

## HYPOTHESIS TESTING

In [11]:
target_value = -20
# Perform a one-sample t-test
t_overall, p_overall = stats.ttest_1samp(sim_df.RMSE_PC_OVERALL, target_value)
t_qm, p_qm = stats.ttest_1samp(sim_df.RMSE_PC_QM, target_value)
# Display Results
print("T-Overall:",t_overall)
print("T-QM:",t_qm)
# Interpretation
if p_overall < 0.05:  # Typically, a significance level of 0.05 is used
    print("Reject the null hypothesis: The mean of the simulation results is significantly different from", target_value)
else:
    print("Fail to reject the null hypothesis: No significant difference from", target_value)
if p_qm < 0.05:  # Typically, a significance level of 0.05 is used
    print("Reject the null hypothesis: The mean of the simulation results is significantly different from", target_value)
else:
    print("Fail to reject the null hypothesis: No significant difference from", target_value)

T-Overall: -116.12996119360122
T-QM: -132.59443347395285
Reject the null hypothesis: The mean of the simulation results is significantly different from -20
Reject the null hypothesis: The mean of the simulation results is significantly different from -20

In [16]:
target_value = -20
# Perform a one-sample t-test
t_overall, p_overall = stats.ttest_1samp(sim_df.RMSE_PC_OVERALL, target_value)
t_qm, p_qm = stats.ttest_1samp(sim_df.RMSE_PC_QM, target_value)
if t_overall < 0:
    p_overall_one = p_overall/2
if t_qm < 0:
    p_qm_one = p_qm/2
# Interpretation
if p_overall_one < 0.05:  # Typically, a significance level of 0.05 is used
    print("Reject the null hypothesis: The mean of the simulation results is significantly different from", target_value)
else:
    print("Fail to reject the null hypothesis: No significant difference from", target_value)
if p_qm_one < 0.05:  # Typically, a significance level of 0.05 is used
    print("Reject the null hypothesis: The mean of the simulation results is significantly different from", target_value)
else:
    print("Fail to reject the null hypothesis: No significant difference from", target_value)

Reject the null hypothesis: The mean of the simulation results is significantly different from -20
Reject the null hypothesis: The mean of the simulation results is significantly different from -20